In [1]:
import pandas as pd
import numpy as np

#https://github.com/guipsamora/pandas_exercises/blob/master/01_Getting_%26_Knowing_Your_Data/Chipotle/Exercises.ipynb

In [5]:
chipo = pd.read_csv("chiptole.csv")
#Import the first 10 rows
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [24]:
#The number of observations in the Dataset
rows = chipo.shape[0]
cols = chipo.shape[1]

print("The number of observations are: ", rows)
print("The number  of columns are: ", cols)

#Columns names
columns_name=chipo.columns.tolist()
print("The colummn's names are: ", columns_name)

The number of observations are:  4622
The number  of columns are:  5
The colummn's name are:  ['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

In [31]:
#indexind
ind = pd.DataFrame(chipo)
newdf = ind.set_index('item_name')
print(newdf)

                                       order_id  quantity  \
item_name
Chips and Fresh Tomato Salsa                  1         1
Izze                                          1         1
Nantucket Nectar                              1         1
Chips and Tomatillo-Green Chili Salsa         1         1
Chicken Bowl                                  2         2
...                                         ...       ...
Steak Burrito                              1833         1
Steak Burrito                              1833         1
Chicken Salad Bowl                         1834         1
Chicken Salad Bowl                         1834         1
Chicken Salad Bowl                         1834         1

                                                                      choice_description  \
item_name
Chips and Fresh Tomato Salsa                                                         NaN
Izze                                                                        [Clementine]
Nantucket Nectar                                                                 [Apple]
Chips and Tomatillo-Green Chili Salsa                                                NaN
Chicken Bowl                           [Tomatillo-Red Chili Salsa (Hot), [Black Beans...
...                                                                                  ...
Steak Burrito                          [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...
Steak Burrito                          [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...
Chicken Salad Bowl                     [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...
Chicken Salad Bowl                     [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...
Chicken Salad Bowl                     [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...

                                      item_price
item_name
Chips and Fresh Tomato Salsa               $2.39
Izze                                       $3.39
Nantucket Nectar                           $3.39
Chips and Tomatillo-Green Chili Salsa      $2.39
Chicken Bowl                              $16.98
...                                          ...
Steak Burrito                             $11.75
Steak Burrito                             $11.75
Chicken Salad Bowl                        $11.25
Chicken Salad Bowl                         $8.75
Chicken Salad Bowl                         $8.75

[4622 rows x 4 columns]

In [61]:
#most-ordered item
most_order = chipo.groupby('item_name')
most_order = most_order.sum()
most_order = most_order.sort_values(['quantity'], ascending=False)
most_order.head(1)

,order_id,quantity,choice_description,item_price
item_name,,,,
Chicken Bowl,713926,761,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98$10.98$11.25$8.75$8.49$11.25$8.75$8.75$8...

In [65]:
#most ordered item in the choice_description column
most_order2 = chipo.groupby('choice_description').sum()
most_order2 = most_order2.sort_values(['quantity'], ascending=False)
most_order2.head(1)

,order_id,quantity,item_name,item_price
choice_description,,,,
[Diet Coke],123455,159,Canned SodaCanned SodaCanned Soda6 Pack Soft D...,$2.18$1.09$1.09$6.49$2.18$1.25$1.09$6.49$6.49$...

In [63]:
#Total items sold in total
tota_order2 = chipo.quantity.sum()
print(tota_order2)

4972

In [76]:
#Create a lambda function and change the type of item price
def convert_to_float(x):
    try:
        if isinstance(x,str):
            x = x.replace("$","").replace("%","").replace(',', '')
        return(float(x))
    except (ValueError, TypeError):
        return np.nan

chipo['item_price'] = chipo['item_price'].apply(lambda x: convert_to_float(x))

print(chipo['item_price'].dtypes)

float64

In [78]:
#Revenue - total amount of money for all sold items(
revenue = (chipo['quantity']*chipo['item_price']).sum()
print(revenue)

39237.02

In [81]:
orders = chipo.order_id.value_counts().count()
print("Number of orders",orders)

Number of orders 1834

In [87]:
#Average price in the revenue
av_p = chipo.groupby('order_id')['revenue'].sum().mean()
print(np.round(av_p,2))

21.39

In [89]:
item_sold = chipo.item_name.value_counts().count()
print(item_sold)

50